/* ==UserStyle==
@name         grok.com
@version      2025-03-07
@namespace    grok3 beta xAi
@description  Background image with Base64 JPEG by sokudon.s17.xrea.com/base64.html
@author       strmdn
==/UserStyle== */

@-moz-document url-prefix("https://grok.com/") {
    :root {
        /*情報そーすのオーバーレイ*/
        --background: #d390e9f2;
        --foreground: #d390e9cc;
    
        --scrollbar-thumb: rgba(0, 0, 0, .3);
        --scrollbar-track: transparent;
    
        --important: #fcfcfc;
    
        /*フォーム内容*/
        --input: #00000078;
        --input-hover: #00000021;
        /*ホーバー時*/
    }
    
    
    .font-body {
        font-family: Font Text, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
    .text-sm {
        font-size: 13px;
    }
    
    form,
    .buttom-0,
    input,
    .text-base {
        --background: #2369c6e0;
    }
    
    /*ボーダー*/
    :after,
    :before {
        box-sizing: border-box;
        border: 0 solid #e5e7eb;
    }
    /*スクロール*/
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    }
    
    /*grokのろご*/
    .text-primary {
        color: #141414e8;
    }
    
    /*情報そーす*/
    .prose {
        color: #43319ce8;
    }
    
    .bg-background {
        --background-color: #00000003;
    }
    
    /*メッセージ*/
    .message-bubble {
    
        background-color: #b428d480;
    }
    /*ぷろんプロ */
    .whitespace-pre-wrap {
        color: #000000db;
        background-color: #b428d41a;
    }
    
    /*スクリプトソース*/
    element.style {
        display: block;
        overflow-x: auto;
        padding: 16px;
        color: #201f20eb;
        background: #0000;
        foreground: #0000;
        border-radius: 0px 0px 12px 12px;
        margin-top: 0px;
        font-size: 0.9em;
        line-height: 1.5em;
    }
    
    /*文章の中たぐ*/
    p {}
    h3 {}
    ul {}
    li {}
    strong {}
    span {}
    button {}
    code {
        color: #000000f5;
        background-color: #b428d400;
        background-size: cover;
    }
    .duration150 {
    
        background-color: #b428d40f;
    }
    
    .bg-foreground/* 共有ぼたん？ */
    {
        background-color: #b428d4cc;
    }
    
    /*背景とうか*/
    main {
    
        background: #0003;
    }
    
    body {
        /*background-size: cover !important;  - `no-repeat`: 繰り返さない（デフォルト）。 repeat-x
      - `repeat`: 両方向（X軸とY軸）に繰り返す。
      - `repeat-y`: 縦方向（Y軸）に繰り返す。
      - `space`: 画像を均等に間隔を空けて配置。
      - `round`: 画像をフィットさせながら繰り返す。*/
        background-size: cover !important;
        background-color: #00000000;
        background: url(https://pbs.twimg.com/media/GnDpRmnasAAiyE4?format=jpg&name=medium);
    }
    }